html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 96px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  color: #9f0908;
  font-family: "Raleway", sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 120px;
  margin-bottom: 64px;
  margin-left: 16px;
  margin-right: 16px;
}

th {
  font-family: "Economica", sans-serif;
  font-size: 56px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  padding-bottom: 16px;
  text-align: left;
}

td {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  color: #675e54;
  padding-bottom: 8px;
}

td:last-child {
  padding-left: clamp(24px, 5vw, 320px);
}

.container {
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}

.container-header {
  background-image: url("./img/hero_bg.jpg");
  background-size: cover;
  height: 100vh;
  background-position: bottom;
}

header img {
  width: 64px;
  height: 64px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-left: 160px;
  padding-right: 160px;
}

.headline {
  margin-top: 150px;
}

nav {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  width: 100%;
  text-transform: uppercase;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  margin-left: 50px;
  color: white;
  transition: transform 600ms ease;
  transform-origin: center;
}

.nav-links:hover {
  transform: scale(1.15);
  font-weight: bold;
}

.nav-btn {
  display: flex;
  justify-content: center;
  background-color: #9f0908;
  height: 25px;
  width: 200px;
  padding: 10px;
  border: solid;
  border-radius: 10px;
  transition: transform 600ms ease;
  transform-origin: center;
}

.nav-btn:hover {
  transform: scale(1.15);
  font-weight: bold;
}

.tele-symb {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.nav-btn:hover .tele-symb {
  transform: scale(1.15);
}

.how-to-order-section {
  margin-bottom: 120px;
  margin-left: 160px;
  margin-right: 160px;
}

.how-to-order-layout {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.how-to-order-icons {
  display: flex;
  justify-content: center;
}

.how-to-order-icons img {
  width: 128px;
  margin-bottom: 16px;
}

.slogan {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  text-align: center;
}

.how-to-order-txt {
  font-family: "Economica", sans-serif;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
}

.our-menu-background-img {
  background-image: url(./img/section_our_menu_bg.jpg);
  background-size: cover;
}

.our-menu-section {
  margin-bottom: 120px;
}

.our-menu-layout {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.our-menu-element,
.our-menu-element-right {
  display: flex;
  align-items: center;
  gap: 80px;
  width: 100%;
}

.our-menu-element-right {
  margin-top: 56px;
  margin-bottom: 56px;
  flex-direction: row-reverse;
}

.our-menu-pic,
.our-menu-pic-right {
  width: 352px;
  height: 352px;
  margin-left: 24px;
  margin-right: 24px;
}

.tbl-format {
  padding-right: 220px;
}

.find-us-section {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 160px;
  padding-right: 160px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

.adress {
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-pin-lg {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.googlemap {
  width: 100%;
  height: 500px;
  border: 0;
  display: block;
}

footer {
  height: 144px;
  background-color: #0a141e;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.logo-w-txt {
  height: 44px;
  width: auto;
}

.logo-footer {
  width: 40px;
  height: 40px;
  margin-left: 8px;
}

.logo-txt-container {
  margin-left: 160px;
}

.logo-socialmedia-container {
  margin-right: 160px;
}

.hide-desktop {
  display: none;
}

.mobile-logo {
  display: none;
}

#mb-0 {
  margin-bottom: 0;
}

#find-us-h2 h2 {
  margin-bottom: 0;
  padding-bottom: 8px;
}

#h2-our-menu {
  padding-top: 120px;
}

#our-menu-pb {
  margin-bottom: 120px;
}

@media (max-width: 1280px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 64px;
    margin-top: 96px;
    margin-bottom: 48px;
  }

  th {
    font-size: 32px;
  }

  td {
    font-size: 24px;
  }

  .header-top {
    padding-left: 24px;
    padding-right: 24px;
  }

  nav {
    font-size: 20px;
  }

  .nav-btn {
    height: 22px;
    width: 180px;
    padding: 10px;
  }

  .how-to-order-section {
    margin-bottom: 96px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .how-to-order-icons img {
    width: 112px;
    margin-bottom: 8px;
  }

  .how-to-order-txt {
    font-size: 32px;
  }

  .our-menu-section {
    padding-left: 24px;
    padding-right: 24px;
  }

  .our-menu-element-right {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .our-menu-element,
  .our-menu-element-right {
    gap: 24px;
  }

  .our-menu-pic-right {
    margin-right: 0;
  }

  .our-menu-pic {
    margin-left: 0;
  }

  .adress {
    margin-bottom: 48px;
    font-size: 20px;
  }

  .slogan {
    font-size: 20px;
  }

  .logo-txt-container {
    margin-left: 24px;
  }

  .logo-socialmedia-container {
    margin-right: 24px;
  }

  .hide-desktop {
    display: none;
  }

  #h2-our-menu {
    padding-top: 96px;
  }

  #our-menu-pb {
    margin-bottom: 96px;
  }
}

@media (max-width: 786px) {
  .hide-mobile {
    display: none;
  }
}

@media (max-width: 762px) {
  .adress {
    margin-bottom: 40px;
    font-size: 16px;
  }

  footer {
    height: 86px;
  }
  .find-us-section {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header-top {
    padding-left: 24px;
    padding-right: 24px;
  }

  header img {
  height: 40px;
        width: auto;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 40px;
    margin-top: 72px;
    margin-bottom: 48px;
  }

  th {
    font-size: 32px;
    margin-bottom: 8px;
  }

  table {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
  }

  table td,
  table th {
    text-align: left;
    padding: 8px 12px;
  }

  td:last-child {
    text-align: right;
  }

  nav {
    font-size: 16px;
  }

  .nav-btn {
    height: 20px;
    width: 150px;
    padding: 10px;
  }

  .how-to-order-layout {
    flex-direction: column;
  }

  .how-to-order-txt {
    margin-bottom: 32px;
  }

  .how-to-order-section {
    margin-bottom: 72px;
  }

  .our-menu-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .our-menu-section {
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
  }

  .our-menu-element,
  .our-menu-element-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    gap: 24px;
  }

  .our-menu-element {
    margin-bottom: 0;
  }

  .our-menu-section {
    padding: 0;
  }

  .our-menu-pic,
  .our-menu-pic-right {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0;
  }

  .slogan {
    font-size: 16px;
  }

  .logo-txt-container {
    margin-left: 16px;
  }

  .logo-socialmedia-container {
    margin-right: 16px;
  }

  .logo-footer {
    width: 32px;
    height: 32px;
  }

  .logo-w-txt {
    height: 40px;
    width: auto;
  }

  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: block;
  }

  #h2-our-menu {
    padding-top: 72px;
  }

  #our-menu-pb {
    margin-bottom: 72px;
  }
}

@media (max-width: 400px) {
  .hide-mobile {
    display: none;
  }

  .header-top {
    padding-left: 24px;
    padding-right: 24px;
  }

  h1 {
    font-size: 36px;
  }

  nav {
    font-size: 16px;
  }

  .how-to-order-section {
    margin-left: 0;
    margin-right: 0;
  }
  .nav-btn {
    height: 20px;
    width: 150px;
    padding: 10px;
  }

  .nav-links {
    margin-left: 0;
  }
}

@media (max-width: 335px) {
  .hide-mobile {
    display: none;
  }
  .adress {
    margin-bottom: 40px;
    font-size: 14px;
  }
}
